name: knobs_example
description: An example project that demonstrates how to knobs.
publish_to: none
version: 1.0.0+1

environment:
  sdk: ">=3.6.0 <4.0.0"
  flutter: ">=3.27.0"

dependencies:
  flutter:
    sdk: flutter
  widgetbook: ^3.10.2

flutter:
  uses-material-design: true
