name: Push Build to Widgetbook Cloud
on: push

jobs:
  push-build:
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: sandbox

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Install Melos
        run: flutter pub global activate melos

      - name: Get packages
        run: melos bootstrap --scope=sandbox --include-dependencies

      - name: Run build runner
        run: dart run build_runner build -d

      - name: Build Website
        run: flutter build web -t lib/widgetbook.dart

      - name: Generate Scenarios
        run: flutter test

      - name: Print files
        run: ls -R build/.widgetbook/

      - name: Save output folder
        uses: actions/upload-artifact@v4
        with:
          name: widgetbook-build-${{ matrix.os }}
          path: sandbox/build/.widgetbook/*
          include-hidden-files: true
